# Ignore specific files
_config.yml
CNAME

# Ignore build output folders
/docs/**
/webapp/**

# Ignore files by extension
/**/*.svg
/**/*.png
/**/*.md

# Ignore files by folders
/src/font-awesome/**

# Additionally ignore files for linting
/**/*.html
/**/*.css
/**/*.json
/**/*.xml
/**/*.properties
/**/*.yaml
/**/*.yml
