{
    "singleQuote": false,
    "printWidth": 200,
    "endOfLine": "lf",
    "tabWidth": 4,
    "useTabs": true,
    "xmlWhitespaceSensitivity": "ignore",
    "editorconfig": false,
    "overrides": [
      {
        "files": ["*.yaml", "*.yml", "*.json", "*.md"],
        "options": {
          "useTabs": false,
          "tabWidth": 2
        }
      }
  ]
}
