# Ignore specific files
_config.yml
CNAME

# Ignore build output folders
/docs/**
/webapp/**

# Ignore files by extension
/**/*.svg
/**/*.png
/**/*.md

# Ignore files by folders
/src/resources/font-awesome/**
