/* Enter your custom styles here */
/* .enlargeSearchfield.sapMInputBase {
    height: 2em;
    line-height: 2rem;
}
.enlargeSearchfield > .sapMInputBaseContentWrapper {
    line-height: 2rem;
}

.enlargeSearchfield > .sapMTokenizer .sapUiScrollDelegate  >  .sapMTokenizerScrollContainer {
    margin-top: -0.12rem;
}

.enlargeSearchfield > .sapMSFF  > .sapMSFB {
    height: 2rem;
} */