.fixOverflow.sapMNav {
	overflow: inherit;
}

.doNotRoundMyToolBar.sapMTB:not(.sapMTB-Info-CTX) {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.fixImageWidth.sapUxAPObjectPageLayout img {
	max-width: 100%;
}

.sapUxAPObjectPageSection .sapUxAPObjectPageSectionContainer .sapUxAPObjectPageSubSection .sapUxAPBlockContainer {
	margin-left: 0rem !important;
	margin-right: 0rem !important;
}

/*
 * Fix scrollbar issue with ObjectPageLayout
 */
.sapUxAPObjectPageWrapperTransform {
	overflow: inherit !important;
}

.sapMScrollBarOuterDiv {
	height: auto;
}
