.fixOverflow.sapMNav {
	overflow: inherit;
}

.doNotRoundMyToolBar.sapMTB:not(.sapMTB-Info-CTX) {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.fixImageWidth.sapUxAPObjectPageLayout img {
	max-width: 100%;
}

.sapUxAPObjectPageSection .sapUxAPObjectPageSectionContainer .sapUxAPObjectPageSubSection .sapUxAPBlockContainer {
	margin-left: 0rem !important;
	margin-right: 0rem !important;
}

/*
 * Fix scrollbar issue with ObjectPageLayout
 */
.sapUxAPObjectPageWrapperTransform {
	overflow: inherit !important;
}

.sapMScrollBarOuterDiv {
	display: none;
}

/*
 * wrap code text in markdown
 */
.wrapCodeText code {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.chartPadding {
	padding: 0em;
}

@media only screen and (min-width: 1000px) {
	.chartPadding {
		padding: 2em;
	}
}
/*
 * higlight description on search
 */
.sapMFT > em {
	background: rgb(130, 106, 226, 0.5);
}
