name: build

on:
  schedule:
    - cron: '0 6 * * *' # runs every day at 6
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Use Node.js LTS (16.x)
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: install yarn
        run: |
          npm install yarn --global
      - name: yarn
        run: |
          yarn
      - name: crawl data
        run: |
          yarn workspace crawler fetch
      - run: |
          yarn workspace ui build
      - name: Commit/Push build to docs branch
        run: |
          git config --global user.name 'marianfoo'
          git config --global user.email '13335743+marianfoo@users.noreply.github.com'
          git add docs -f
          git add packages/ui/src/model/data.json
          git commit -m "build"
          git push origin HEAD:docs --force
