name: build

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  HUSKY_SKIP: true
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Use Node.js LTS (16.x)
        uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: npm install
        run: |
          npm install
      - name: build ui
        run: |
          npm run build
      - name: create sitemap
        run: |
          npm run sitemap:build
      - name: Commit/Push build to docs branch
        run: |
          git config --global user.name 'marianfoo'
          git config --global user.email '13335743+marianfoo@users.noreply.github.com'
          git add docs -f
          git commit -m "chore: build"
          git push origin HEAD:docs --force
