name: tests

on:
  pull_request:
    branches:
      - main

jobs:
  test-build:
    runs-on: ubuntu-latest
    steps:
      - name: check out repo
        uses: actions/checkout@v3

      - name: use node 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      # we need this for workspace mgmt
      - name: check npm version >= 7
        run: npm --version
      - name: update npm
        run: |
          npm i -g npm@latest
          npm --version

      # install both module + sample app(s) deps
      - name: install packages
        run: |
          npm i

      # build things
      - name: build
        run: npm run build
  test-wdi5:
    runs-on: ubuntu-latest

    steps:
      - name: update chrome
        run: |
          wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add - 
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
          sudo apt-get update
          sudo apt-get --only-upgrade install google-chrome-stable
          # check chrome version
          google-chrome --version

      - name: check out repo
        uses: actions/checkout@v3

      - name: use node 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      # we need this for workspace mgmt
      - name: check npm version >= 7
        run: npm --version
      - name: update npm
        run: |
          npm i -g npm@latest
          npm --version

      # install both module + sample app(s) deps
      - name: install packages
        run: |
          npm i

      # run appp
      - name: run app
        run: npm run start:test&

      # run wdi5 tests
      - name: test wdi5 core
        run: npm run test
